<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 95%;height: 650px">
        <div class="modal-content" style="height: 500px; border-radius: 3px">
            <div class="modal-header" style="height: 10px">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
            </div>
                <div id="body">
                    <div id="left">
                        <div id="drop">将Excel文件拖入此处</div>

                        <div id="buttons"></div>
                    </div>
                    <div id="right">

                        <div id="hot" style="overflow: scroll" class="handsontable"></div>

                    </div>
                </div>

            <div class="modal-footer">
                <button type="button" class="btn  btn-primary " data-dismiss="modal" style="width: 100%; margin-top: 475px">确定导入</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>