
<div class="modal fade" id="modal-add">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">射频分配</h4>
            </div>
            <form name="add_form"  id="device_goods_form" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="device_fid_detail_list" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>选择</th>
                                    <th >id</th>
                                    <th >射频序号</th>
                                    <th >射频编号</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary batch-save">保存</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal add -->


<!-- 信息删除确认 -->
<div class="modal fade" id="modal-remove">
    <div class="modal-dialog modal-sm">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="title">提示信息</h4>
            </div>
            <div class="modal-body">
                <p>您确认要解绑？</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="url"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button"  class="btn btn-success btn-del-sure" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


