
<div class="modal fade" id="modal-add" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 3px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增</h4>
            </div>
            <form name="add_form" id="add_form" method="post" action="">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="device_title" class="control-label">设备标题 *</label>
                                <input type="text" class="form-control" name="device_title" id="device_title" placeholder="请输入设备标题"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="device_order" class="control-label">设备序号 *</label>
                                <input type="text" class="form-control" name="device_order" id="device_order" placeholder="请输入设备编号"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="device_code" class="control-label">设备编码 *</label>
                                <input type="text" class="form-control" name="device_code" id="device_code" value="" placeholder="请输入设备编码（长度不能超过10）"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dtp_input1" class="control-label">生产时间</label>
                                <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" id="dtp_input1"  type="text" value="" readonly="readonly" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden"  value="" /><br/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dtp_input2" class="control-label">出厂时间</label>
                                <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" id="dtp_input2"  type="text" value="" readonly="readonly" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden"  value="" /><br/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dtp_input3" class="control-label">投放时间</label>
                                <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input3" data-link-format="yyyy-mm-dd">
                                    <input class="form-control"   id="dtp_input3" type="text" value="" readonly="readonly" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden" value="" /><br/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="device_info" class="control-label">备注</label>
                                <textarea class="form-control" name="device_info" id="device_info" placeholder="请在此输入新增设备相关备注信息"/>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary btn-save">保存</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal add -->
<!-- /.modal add -->

<div class="modal fade" id="modal-edit" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 3px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改</h4>
            </div>
            <form name="edit_form" id="edit_form" method="post" action="">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="e_device_title" class="control-label">设备标题 *</label>
                                <input type="text" class="form-control" name="e_device_title" id="e_device_title" placeholder="请输入设备标题"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="e_device_order" class="control-label">设备序号 *</label>
                                <input type="text" class="form-control" name="e_device_order" id="e_device_order" placeholder="请输入设备编号"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="e_device_code" class="control-label">设备编码 *</label>
                                <input type="text" class="form-control" name="e_device_code" id="e_device_code" value="" placeholder="请输入设备编码（长度不能超过10）"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="e_dtp_input1" class="control-label">生产时间</label>
                                <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd">
                                    <input class="form-control"  type="text" id="e_dtp_input1" value="" readonly="readonly" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden"  value="" /><br/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="e_dtp_input2" class="control-label">出厂时间</label>
                                <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    <input class="form-control"  type="text"  id="e_dtp_input2" value="" readonly="readonly" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden"  value="" /><br/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="e_dtp_input3" class="control-label">投放时间</label>
                                <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input3" data-link-format="yyyy-mm-dd">
                                    <input class="form-control"  type="text" id="e_dtp_input3" value="" readonly="readonly" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden"  value="" /><br/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="e_device_info" class="control-label">备注</label>
                                <textarea class="form-control" name="e_device_info" id="e_device_info" placeholder="请在此输入新增设备相关备注信息"/>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary btn-save">保存</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal edit -->
<div class="modal fade" id="modal-info" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 3px">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                <!--<span aria-hidden="true">&times;</span></button>-->
                <h4 style="text-align: center" class="modal-title">设备详情</h4>
            </div>
            <form name="info_form" id="info_form" method="get" action="">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="title" class="control-label">设备标题</label>
                                <input type="text" class="form-control" name="title" id="title"  disabled="disabled" style="border: none" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="seqCode" class="control-label">设备序号</label>
                                <input type="text" class="form-control" name="seqCode" id="seqCode"  disabled="disabled" style="border: none" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="code" class="control-label">设备编码</label>
                                <input type="text" class="form-control" name="code" id="code"  disabled="disabled" style="border: none"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="productionTime" class="control-label">生产时间</label>
                                <input type="text" class="form-control" name="productionTime" id="productionTime"  disabled="disabled" style="border: none" />
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="factoryTime" class="control-label">出厂时间</label>
                                <input type="text" class="form-control" name="factoryTime" id="factoryTime"  disabled="disabled" style="border: none"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usageTime" class="control-label">投放时间</label>
                                <input type="text" class="form-control" name="usageTime" id="usageTime"  disabled="disabled" style="border: none"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="remark" class="control-label">备注</label>
                                <textarea type="text" class="form-control" name="remark" id="remark"  disabled="disabled" style="border: none">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button style="width: 100%" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>