<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="width: 95%">
        <div class="modal-content" style="border-radius: 3px">
            <div class="modal-header" style="height: 10px">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
            </div>
            <div class="modal-body">
                <table id="use_list" class="table table-bordered table-striped" >
                    <h4 style="text-align: center">设备使用历史记录</h4>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>店铺名称</th>
                        <th>详细地址</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>适用类型</th>
                        <th>费用（元）</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id=".btn-use-history-close" class="btn  btn-primary btn-use-history-close " data-dismiss="modal" style="width: 100%">知道啦</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>