<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxwl.web.dao.GoodsOrderMapper">
    <resultMap id="GoodsOrderResultMap" type="com.zxwl.web.bean.GoodsOrder">
        <id property="id" column="u_id" javaType="string" jdbcType="VARCHAR"/>
            <result property="submitTime" column="submit_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <result property="orderStatus" column="order_status" javaType="int" jdbcType="INTEGER"/>
            <result property="remarks" column="remarks" javaType="String" jdbcType="VARCHAR"/>
            <result property="shopId" column="shop_id" javaType="String" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" javaType="String" jdbcType="VARCHAR"/>
            <result property="payType" column="pay_type" javaType="int" jdbcType="INTEGER"/>
            <result property="totalPrice" column="total_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <result property="gmtCreate" column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <result property="gmtModify" column="gmt_modify" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <result property="lastChangeUser" column="last_change_user" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'GoodsOrderResultMap'"/>
        <bind name="tableName" value="'t_goods_order'"/>
    </sql>
    <insert id="insert" parameterType="com.zxwl.web.bean.common.InsertParam" >
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="com.zxwl.web.bean.common.DeleteParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="com.zxwl.web.bean.common.UpdateParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="selectByPk" parameterType="string" resultMap="GoodsOrderResultMap">
        select * from t_goods_order where u_id=#{id}
    </select>
    <select id="selectByUserId" parameterType="string" resultMap="GoodsOrderResultMap">
        select u_id as orderid, user_id, total_price, gmt_create from t_goods_order where user_id=#{userId}
    </select>
    <select id="select" parameterType="com.zxwl.web.bean.common.QueryParam" resultMap="GoodsOrderResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="total" parameterType="com.zxwl.web.bean.common.QueryParam" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>
</mapper>
