<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxwl.web.dao.UserInfoMapper">
    <resultMap id="UserInfoMap" type="com.zxwl.web.bean.UserInfo">
        <id property="id" column="u_id" javaType="string" jdbcType="VARCHAR"/>
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="age" column="age" javaType="int" jdbcType="INTEGER"/>
        <result property="sex" column="sex" javaType="String" jdbcType="TINYINT"/>
        <result property="height" column="height" javaType="double" jdbcType="DECIMAL"/>
        <result property="weight" column="weight" javaType="double" jdbcType="DECIMAL"/>
        <result property="telephone" column="telephone" javaType="String" jdbcType="VARCHAR"/>
        <result property="avatarId" column="avatar_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="activityCount" column="activity_count" javaType="int" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="paymentPassword" column="payment_password" javaType="String" jdbcType="VARCHAR"/>
        <result property="defaultAddress" column="default_address" javaType="String" jdbcType="VARCHAR"/>
        <result property="activityCount" column="activity_count" javaType="int" jdbcType="INTEGER"/>
        <result property="gmtCreate" column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="gmtModify" column="gmt_modify" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'UserInfoMap'"/>
        <bind name="tableName" value="'t_user_info'"/>
    </sql>
    <insert id="insert" parameterType="com.zxwl.web.bean.common.InsertParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="com.zxwl.web.bean.common.DeleteParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="com.zxwl.web.bean.common.UpdateParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="selectByPk" parameterType="string" resultMap="UserInfoMap">
        select * from t_user_info where u_id=#{id}
    </select>

    <select id="select" parameterType="com.zxwl.web.bean.common.QueryParam" resultMap="UserInfoMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="selectUserInfoPager" parameterType="com.zxwl.web.bean.common.QueryParam" resultType="com.zxwl.web.bean.UserInfo">
        SELECT
        t_user_info.u_id AS id,
        s_user.username AS userId,
        t_user_info.user_id as userAccount,
        t_user_info.`name` AS name,
        t_user_info.age AS age,
        t_user_info.sex AS sex,
        t_user_info.height AS height,
        t_user_info.weight AS weight,
        t_user_info.telephone AS telephone,
        t_metadata_rel.data_id AS avatarId,
        s_user.`status`AS `status`
        FROM
        t_user_info
        JOIN s_user ON s_user.u_id = t_user_info.user_id
        LEFT JOIN t_metadata_rel ON t_metadata_rel.record_id = t_user_info.avatar_id
        LIMIT #{pageIndex},#{pageSize}
    </select>

    <select id="selectUserInfo" resultType="com.zxwl.web.bean.UserInfo">
        SELECT
        t_user_info.u_id AS id,
        s_user.username AS userId,
        t_user_info.`name` AS name,
        t_user_info.age AS age,
        t_user_info.sex AS sex,
        t_user_info.height AS height,
        t_user_info.weight AS weight,
        t_user_info.telephone AS telephone,
        t_metadata_rel.data_id AS avatarId,
        s_user.`status`AS `status`
        FROM
        t_user_info
        JOIN s_user ON s_user.u_id = t_user_info.user_id
        LEFT JOIN t_metadata_rel ON t_metadata_rel.record_id = t_user_info.avatar_id
    </select>

    <select id="total" parameterType="com.zxwl.web.bean.common.QueryParam" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>
</mapper>
